@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #9dcaff;
}
.screen {
  width: 1920px;
  height: 1080px;
}
.flex {
  display: flex;
}
.colorw {
  color: white;
  line-height: 100%;
}

.textBorder {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 2px black;
  font-size: 160px;
}
.botSide {
  width: 163px;
  height: 201px;
  top: 97px;
  left: 669px;
  border-width: 2px;
}
.ourSide {
  width: 163px;
  height: 201px;
  top: 97px;
  left: 1088px;
  border-width: 2px;
}
.scoreBoard {
  width: 652px;
  height: 201px;
  /* align-items: center;
  justify-content: center; */
  left: 1000px;
}
