@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-regular-400 > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-regular-700 > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containergap {
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.nav-container {
  background-color: #f5f5f7cc;
}

.Learnm {
  color: white;
  background-color: #0071e3;
  height: 36px;
  width: 107px;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}
.Buy {
  color: #0071e3;
  border: 1px solid #0071e3;
  height: 36px;
  width: 66px;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.nav {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: space-between;
}

.nav-items {
  list-style: none;
  display: none;
}
.htext {
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.iphone-16p {
  background-image: url(Figure@2x.png);
  background-size: cover;
  width: 390px;
  height: 500px;
  position: relative;
}
.button1 {
  gap: 8px;
  height: 36px;
  width: 241px;
  max-width: 241px;
  max-height: 36px;
  position: absolute;
  bottom: 30px;
  right: 45px;
}
.ip16stext {
  width: 241px;
  height: 62px;
  position: absolute;
  bottom: 80px;
  right: 45px;
}
.Hello {
  color: white;
  width: 205px;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.iPhone {
  color: white;
  font-family: "inter";
  font-size: 30px;
  height: 36px;
  width: 200px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
}
.engin16 {
  background-image: url(Figure.png);
  background-size: cover;
  width: 390px;
  height: 500px;
  padding-top: 20px;
}

.Learnm1 {
  color: black;
  background-color: white;
  height: 36px;
  width: 107px;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}
.Buy1 {
  color: white;
  border: 1px solid white;
  height: 36px;
  width: 66px;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

@media (min-width: 768px) {
}

@media (min-width: 1920px) {
  .nav {
    width: 1920px;
    margin: 0 auto;
  }
  .nav-items {
    display: flex;
    gap: 20px;
  }
  .fa-bars {
    display: none;
  }
}
